/* Import fonts */
@import "./fonts.css";

/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

:root {
  --font-color: #f0e0d1;
  --background-color: #11121c;
}

/* Base Styles */
html,
body {
  font-family: "Quattrocento", sans-serif;
  background-color: var(--background-color);
  color: var(--font-color);
}

body {
  background-image: url("/assets/Static/Background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  line-height: 1.6;
  height: 100vh;
}
